.signup{
  max-width: 2000px;
  width: 35%;
  margin: 5rem auto 5rem auto;
  padding: 3rem 3rem 3rem 3rem; 
  border-radius: 40px;
  background-color: rgba(240, 240, 240, 0.08);
  display: flex;
  flex-direction: column;
  align-items:center;
  gap: 0.5rem;
}

.signup form{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.signup > p {
  font-size: 0.9rem;
}

.signup > p a{
  text-decoration: underline;
  font-weight: 700;
}

.signup form > div{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.25rem;
}

.signup form div label{
  width: 100%;
}

.signup form button{
  align-self: center;
  width: 30%;
  margin-top: 1.5rem;
}

.signup form div div{
  display: flex;
  flex-direction: column;
  align-items:end;
  position: relative;
}

.signup form div div button{
  height: 30px;
  padding: 0;
  width: 30px;
  margin: 0 0 auto 0; 
  border-radius: 9999px;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
}

.info-tooltip{
  position: absolute !important;
  display: none !important;
  bottom: 90%;
  left: 120%;
  z-index: 1;
  width: 300px;
  padding: 1rem; 
  border-radius: 10px;
  background-color: hsl(0, 0%, 15%);

}

.btn-tooltip:hover ~ .info-tooltip, .btn-tooltip:focus ~ .info-tooltip{
  display: block !important;
}