.menu {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 310px;
    height: 35px;
    margin-bottom: 10px;
    padding-right: 20px;
    border-bottom: solid 1px rgb(167, 167, 167);
}

.menu h1{
    margin-right: 6px;
    font-size: 2em;
}

.menu a{
    border-radius: 2px;
    padding: 2px 4px;
    background-color: rgb(219, 219, 219);
    text-decoration: none;
    color: rgb(91, 91, 91);
    transition: 0.2s;
    font-size: 17px;
}

.menu a:hover{
    cursor: pointer;
    background-color: rgb(231, 231, 231);
}

.menu a:visited{
    text-decoration: none;
    color: rgb(91, 91, 91);
}